apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}-service
spec:
  selector:
    app: {{ .Chart.Name }}
  ports:
  - name: docs
    protocol: TCP
    port: 80
    targetPort: 8080
  - name: appl
    protocol: TCP
    port: 8080
    targetPort: 8090
